body{
    text-align: center;
    background-color: aqua
}
#im1{
    border-radius: 40%;
    height: 100px;
    width: 100px;
}
#welcome{
    font-family: 'Festive', cursive;
}
.things: hover{
    background-color: chartreuse;
}
